<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <title>{{title}}</title>
  <h1>USER NAME: {{user.username}}</h1>
  <p>PASSWORD: {{user.password}}</p>

</body>
</html>
















